.container{
    position: relative;
    width: 80%;
    display: block;
    margin: -9px auto auto auto;
}


.proHeader{  
    border:none;
    box-shadow: 0px 1px 2px grey;
    height: 33px;
    padding-top: 85px;
}

.proHeader a{
    color: black;
    text-decoration: none;
    text-align: center;
    word-spacing: 0px;
    padding: 12px 22px;
    transition: 0.1s linear;
    font-size: 15px; 
}

.proHeader a:hover{
    border-bottom: 4px black solid;
}

.proImage{
    box-shadow: 0px 1px 2px grey;
    padding: 20px;
}

.displayPro{
    box-shadow: 0px 1px 2px grey;
    padding: 20px;
}

h3{
   border-bottom: 1px lightgrey solid;
}

button.btnEditPro {
    width: 60px;
    height: 20px;
    margin: 0 0 5px 10px;
    padding-top: 3px;
    border: none;
    background: black;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s linear;
    color: white;
}

button.btnEditPro:hover{
    opacity: 0.8;
}


table.proDetails td {
    padding-right: 200px;
    padding-bottom: 20px;
}

.about {
    border: 2px grey solid;
    border-radius: 15px;
    padding: 0 5px 0 10px;
    width: 65%;
}

input.bottomBtn {
    border: none;
    width: 200px;
    color: white;
    border-radius: 5px;
    height: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s linear;
}

input.bottomBtn:hover,input.btnDeleteCon:hover,input.btnCancel:hover {
    opacity: 0.8;
}

input.btnSave {
    background-color: green;
}

input.btnLogOut {
    background-color: orange;
}


input.btnDelete {
    background-color: red;
}

input.btnCancel {
    margin: 10px 5px 5px 10%;
    background-color: green;
    color: white;
    border: none;
    width: 200px;
    color: white;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s linear;
}

input.btnDeleteCon {
    margin: 10px 5px 5px 5px;
    background-color: red;
    color: white;
    border: none;
    width: 300px;
    color: white;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s linear;
}
